<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Home/home_manege}">

<head>
    <title>Thêm chi tiết</title>
</head>

<body class="body-createProductDetail">
<div layout:fragment="content">
    <article class=" bd-gutter mt-5 my-md-4 bd-layout">
        <div class="container-createProductDetail">
            <div class="content-createProductDetail">
                <div class="main-content-createProductDetail">
                    <h1 class="h1-createProductDetail" th:text="${'Thêm chi tiết  ' + product.get().nameProduct}"></h1>
                    <div class="form-group-createProductDetail">
                        <div class="form-control-createProductDetail">
                            <label for="myInput-color">Màu sắc</label>
                            <div style="display: flex">
                                <input type="text" id="myInput-color"
                                       onfocus="showDropdown(event)"
                                       readonly autocomplete="off">
                                <ul id="dataList-color" class="dropdown-content-createProductDetail">
                                    <li style="display: flex; justify-content: space-between">
                                        <input style="height: 30px" placeholder="Tìm kiếm" onkeyup="filterFunctionCheckBox(event)" type="text">
                                    </li>
                                        <th:block th:each="color : ${colorList}">
                                            <li style="display: flex; justify-content: space-between" onclick="toggleCheckbox(this, 'color')">
                                                <span th:text="${color.nameColor}"></span>
                                                <input th:value="${color.id}"  style="width: 20px" type="checkbox" data-type="color">
                                            </li>
                                        </th:block>
                                    </ul>
                                    <div class="btn-add-quickly"
                                         onclick="openQuickAddForm('Thêm mới màu sắc', 'Mã màu sắc', 'Tên màu sắc', 'Nhập mã màu sắc', 'Nhập tên màu sắc', 'color')">
                                        <span class="material-symbols-outlined">add</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-control-createProductDetail">
                                <label for="myInput-size">Kích cỡ</label>
                                <div style="display: flex">
                                    <input name="size" type="text" id="myInput-size"
                                           onfocus="showDropdown(event)"
                                           readonly autocomplete="off">
                                    <ul id="dataList-size" class="dropdown-content-createProductDetail">
                                        <li style="display: flex; justify-content: space-between">
                                            <input style="height: 30px" placeholder="Tìm kiếm" onkeyup="filterFunctionCheckBox(event)" type="text">
                                        </li>
                                        <th:block th:each="size : ${sizeList}">
                                            <li style="display: flex; justify-content: space-between" onclick="toggleCheckbox(this, 'size')">
                                                <span th:text="${size.nameSize}"></span>
                                                <input th:value="${size.id}" style="width: 20px" type="checkbox" data-type="size">
                                            </li>
                                        </th:block>
                                    </ul>
                                    <div class="btn-add-quickly"
                                         onclick="openQuickAddForm('Thêm mới kích cỡ', 'Mã kích cỡ', 'Tên kích cỡ', 'Nhập mã kích cỡ', 'Nhập tên kích cỡ', 'size')">
                                        <span class="material-symbols-outlined">add</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-content-createProductDetail" id="table-productDetail-createProductDetail">
                        <table class="table-createProductDetail" id="productDetailTable">
                            <thead>
                            <tr>
                                <th style="width: 30px;">
                                    <input type="checkbox" id="select-all-productDetail" onclick="toggleSelectAllproductDetail(this)">
                                </th>
                                <th style="width: 150px">Màu sắc</th>
                                <th style="width: 150px">Kích cỡ</th>
                                <th style="width: 150px">Giá bán</th>
                                <th style="width: 150px">Giá nhập</th>
                                <th style="width: 150px">Số lượng</th>
                                <th style="width: 170px">Trọng lượng(g)</th>
                                <th style="width: 300px">Mô tả</th>
                                <th style="width: 30px"><span class="material-symbols-outlined">delete_forever</span></th>
                            </tr>
                            </thead>
                            <tbody id="productDetail-table-body">

                            </tbody>
                        </table>
                        <p id="errorTextCreateProductDetail" style="color: red; visibility: hidden"></p>
                    </div>
                    <div class="buttons-createProductDetail">
                        <button id="create-btn-createProductDetail" type="button" class="create-btn-createProductDetail" onclick="addProductDetail(this.id)" th:id="${product.get().id}">Thêm chi tiết</button>
                        <button type="button" class="cancel-btn-createProductDetail" >Hủy bỏ</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Form Thêm Thuộc Tính -->
        <div id="quickAddForm" class="quick-add-form" style="display:none;">
            <div class="quick-add-content">
                <h3 id="formTitle">Thêm thuộc tính</h3>
                <label id="label1">Mã</label>
                <input type="text" id="input1" placeholder="Nhập mã"/>
                <label id="label2">Tên</label>
                <input type="text" id="input2" placeholder="Nhập tên"/>
                <button onclick="submitQuickAdd()">Thêm</button>
                <button onclick="closeQuickAddForm()">Đóng</button>
            </div>
        </div>
    </article>
    <script th:src="@{/js/product/createProductDetail.js}" type="text/javascript"></script>
    <script th:src="@{/js/product/validateCreateProductDetail.js}" type="text/javascript"></script>
</div>
</body>

</html>
