<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Home/home_manege}">
<head>
  <title>
    Chi tiết sản phẩm
  </title>
</head>

<body>
<div  layout:fragment="content">
  <article class=" bd-gutter mt-5 my-md-4 bd-layout">
    <div th:if="${messagee != null}" >
      <p th:text="${messagee}"></p>
      <a th:if="${addDetailUrl != null}" th:href="${addDetailUrl}" class="add-button-productDetail" style="text-decoration: none;">
        <i class="fas fa-plus"></i> Thêm chi tiết
      </a>
      <p th:attr="data-value=${idProduct}"></p>
      <input type="hidden" id="toastMessage" th:value="${message}">
      <input type="hidden" id="toastCheck" th:value="${check}">
    </div>

    <div th:if="${productDetailList != null and !#lists.isEmpty(productDetailList)}" class="container-productDetail">
      <div th:text="${'Danh sách chi tiết  ' + productDetailList.get(0).product.nameProduct}" class="header-productDetail">
      </div>
      <p th:attr="data-value=${productDetailList.get(0).product.id}"></p>
      <div class="search-bar-productDetail">
        <select class="search-select-productDetail" id="items-per-page" onchange="updateItemsPerPage(event)">
          <option value="5">5/1</option>
          <option value="10" selected>10/1</option>
          <option value="15">15/1</option>
          <option value="20">20/1</option>
          <option value="25">ALL</option>
        </select>
        <input type="text" class="search-input-productDetail" placeholder="Tìm kiếm">
      </div>
      <div class="update-productDetail">
        <button id="btn-save-productDetail" class="btn-save-productDetail" style="display: none" data-bs-toggle="modal" data-bs-target="#confirm-update-productDetail-modal" >Lưu lại</button>
        <button id="btn-saveQR-productDetail" class="btn-saveQR-productDetail" style="display: none" data-bs-toggle="modal" data-bs-target="#confirm-saveQR-modal" >Lưu QR</button>
        <button id="btn-export-productDetail" class="btn-export-productDetail" style="display: none" data-bs-toggle="modal" data-bs-target="#confirm-export-productDetail-modal" >Xuất excel</button>
        <button id="btn-cancel-productDetail" class="btn-cancel-productDetail" style="display: none" onclick="cancelButton()">Hủy bỏ</button>
      </div>
      <table class="table-productDetail">
        <thead>
        <tr>
          <th style="width: 30px;">
            <input type="checkbox" id="select-all-productDetail" onclick="toggleSelectAllproductDetail(this)">
          </th>
          <th style="width: 150px">Màu sắc</th>
          <th style="width: 90px">Kích cỡ</th>
          <th style="width: 150px">Giá bán</th>
          <th style="width: 150px">Giá nhập</th>
          <th style="width: 130px">Số lượng</th>
          <th style="width: 150px">Trọng lượng</th>
          <th style="width: 200px">Mô tả</th>
          <th style="width: 100px">Trạng thái</th>
          <th style="width: 30px"></th>
        </tr>
        </thead>
        <tbody id="productDetail-table-body">

        </tbody>
      </table>

      <div id="pagination-controls" class="pageable-productDetail">
        <ul id="pagination-productDetail" class="pagination-productDetail"></ul>
      </div>
      <div class="modal fade" id="confirm-update-productDetail-modal" tabindex="-1"
           aria-labelledby="confirmUpdateProductDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="confirmUpdateProductDetailModalLabel">
                Xác nhận chỉnh sửa chi tiết sản phẩm
              </h1>
            </div>
            <div class="modal-body">
              Chắc chắn muốn chỉnh sửa các hàng đã chọn ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
              <button onclick="updateSelectedProductDetails()" type="submit" class="btn btn-success"
                      data-bs-dismiss="modal"
                      aria-label="Close">Đồng ý
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="confirm-saveQR-modal" tabindex="-1"
           aria-labelledby="confirmSaveQRModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="confirmSaveQRModalLabel">
                Xác nhận lưu QR chi tiết sản phẩm
              </h1>
            </div>
            <div class="modal-body">
              Chắc chắn muốn lưu QR các chi tiết sản phẩm đã chọn ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
              <button onclick="downloadAllQRCode()" type="submit" class="btn btn-success"
                      data-bs-dismiss="modal"
                      aria-label="Close">Đồng ý
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="confirm-export-productDetail-modal" tabindex="-1"
           aria-labelledby="confirmExportModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="confirmExportModalLabel">
                Xác nhận xuất Excel chi tiết sản phẩm
              </h1>
            </div>
            <div class="modal-body">
              Chắc chắn muốn xuất Excel các hàng đã chọn ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
              <button onclick="exportExcelProductDetail()" type="submit" class="btn btn-success"
                      data-bs-dismiss="modal"
                      aria-label="Close">Đồng ý
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="confirm-update-status-modal" tabindex="-1"
           aria-labelledby="confirmUpdateStatusModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="confirmUpdateStatusModalLabel">
                Xác nhận cập nhật trạng thái
              </h1>
            </div>
            <div class="modal-body">
              Chắc chắn muốn cập nhật trạng thái của sản phẩm này?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
              <button onclick="updateStatus()" type="button" class="btn btn-success"
                      data-bs-dismiss="modal" aria-label="Close">Đồng ý
              </button>
            </div>
          </div>
        </div>
      </div>
      <a class="add-button-productDetail" style="text-decoration: none;" th:href="@{/staff/product/create/product-detail/{idProduct}(idProduct=${productDetailList.get(0).product.id})}" ><i
              class="fas fa-plus"></i> Thêm chi tiết </a>
      <script th:src="@{/js/product/productDetail.js}" type="text/javascript"></script>
      <input type="hidden" id="toastMessage" th:value="${message}">
      <input type="hidden" id="toastCheck" th:value="${check}">
    </div>

  </article>
</div>
</body>

</html>
