<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Home/home_manege}">

<head>
  <title>Sửa sản phẩm</title>
</head>

<body class="body-updateProduct">
<div layout:fragment="content">
  <article class=" bd-gutter mt-5 my-md-4 bd-layout">
    <h1 class="h1-updateProduct">Sửa sản phẩm</h1>
    <div class="container-updateProduct">
      <form id="updateProductForm" th:attr="data-product-id=${product.get().id}" th:object="${product}" method="POST" enctype="multipart/form-data">
        <div class="content-updateProduct">
          <div class="main-content-updateProduct">
            <div class="form-group-updateProduct">
              <div class="form-control-updateProduct">
                <label>Mã sản phẩm</label>
                <input th:value="${product.get().codeProduct}" id="codeProduct" type="text" name="codeProduct" autocomplete="off"/>
                <p style="display: none; color: red; margin-bottom: 0px" id="errorText-codeProduct">* Mã sản phẩm không được để trống</p>
              </div>
              <div class="form-control-updateProduct">
                <label for="myInput-nameProduct">Tên sản phẩm</label>
                <input th:value="${product.get().nameProduct}" name="nameProduct" type="text" id="myInput-nameProduct"
                       onfocus="showDropdown(event)"
                       onkeyup="filterFunction(event)" autocomplete="off">
                <p style="display: none; color: red; margin-bottom: 0px" id="errorText-nameProduct">* Tên sản phẩm không được để trống</p>
                <ul id="dataList-nameProduct" class="dropdown-content-updateProduct">
                  <th:block th:each="nameProduct: ${nameProductList}">
                    <li th:text="${nameProduct}" th:value="${nameProduct}"
                        onclick="selectAttribute(this, 'myInput-nameProduct', 'v')"></li>
                  </th:block>
                </ul>
              </div>
              <div class="form-control-updateProduct">
                <label for="myInput-category">Danh mục</label>
                <div style="display: flex">
                  <input type="text" id="myInput-category"
                         onfocus="showDropdown(event)"
                         readonly autocomplete="off">
                  <ul id="dataList-category" class="dropdown-content-updateProduct">
                    <li style="display: flex; justify-content: space-between">
                      <input style="height: 30px" placeholder="Tìm kiếm" onkeyup="filterFunctionCheckBox(event)" type="text">
                    </li>
                    <th:block th:each="category : ${categoryList}">
                      <li style="display: flex; justify-content: space-between" onclick="toggleCheckbox(this, 'category')">
                        <span th:text="${category.nameCategory}"></span>
                        <input th:checked="${selectedCategoryIds.contains(category.id)}" class="category-checkbox" style="width: 20px" type="checkbox" name="categories" th:value="${category.id}" data-type="category">
                      </li>
                    </th:block>
                  </ul>
                  <div class="btn-add-quickly"
                       onclick="openQuickAddForm('Thêm mới danh mục', 'Mã danh mục', 'Tên danh mục', 'Nhập mã danh mục', 'Nhập tên danh mục', 'category')">
                    <span class="material-symbols-outlined">add</span>
                  </div>
                </div>
                <p style="display: none; color: red; margin-bottom: 0px" id="errorText-category">* Vui lòng chọn danh mục</p>
              </div>
            </div>
            <div class="form-group-updateProduct">
              <div class="form-control-updateProduct">
                <label>Chất liệu</label>
                <div style="display: flex">
                  <input th:value="${product.get().material.nameMaterial}" th:data-material-id="${product.get().material.id}" type="text" id="myInput-material"
                         onfocus="showDropdown(event)"
                         onkeyup="filterFunction(event)" autocomplete="off">
                  <ul id="dataList-material" class="dropdown-content-updateProduct">
                    <th:block th:each="material: ${materialList}">
                      <li th:text="${material.nameMaterial}" th:value="${material.id}"
                          onclick="selectAttribute(this, 'myInput-material', 'material')"></li>
                    </th:block>
                  </ul>
                  <div class="btn-add-quickly"
                       onclick="openQuickAddForm('Thêm mới chất liệu', 'Mã chất liệu', 'Tên chất liệu', 'Nhập mã chất liệu', 'Nhập tên chất liệu', 'material')">
                    <span class="material-symbols-outlined">add</span>
                  </div>
                </div>
                <p style="display: none; color: red; margin-bottom: 0px" id="errorText-material">* Vui lòng chọn chất liệu</p>
              </div>
              <div class="form-control-updateProduct">
                <label>Hãng</label>
                <div style="display: flex">
                  <input th:value="${product.get().manufacturer.nameManufacturer}" th:data-manufacturer-id="${product.get().manufacturer.id}" type="text" id="myInput-manufacturer"
                         onfocus="showDropdown(event)"
                         onkeyup="filterFunction(event)" autocomplete="off">
                  <ul id="dataList-manufacturer" class="dropdown-content-updateProduct">
                    <th:block th:each="manufacturer: ${manufacturerList}">
                      <li th:text="${manufacturer.nameManufacturer}" th:value="${manufacturer.id}"
                          onclick="selectAttribute(this, 'myInput-manufacturer', 'manufacturer')"></li>
                    </th:block>
                  </ul>
                  <div class="btn-add-quickly"
                       onclick="openQuickAddForm('Thêm mới hãng', 'Mã hãng', 'Tên hãng', 'Nhập mã hãng', 'Nhập tên hãng', 'manufacturer')">
                    <span class="material-symbols-outlined">add</span>
                  </div>
                </div>
                <p style="display: none; color: red; margin-bottom: 0px" id="errorText-manufacturer">* Vui lòng chọn hãng</p>
              </div>
              <div class="form-control-updateProduct">
                <label>Xuất xứ</label>
                <div style="display: flex">
                  <input th:value="${product.get().origin.nameOrigin}" th:data-origin-id="${product.get().origin.id}" type="text" id="myInput-origin"
                         onfocus="showDropdown(event)"
                         onkeyup="filterFunction(event)" autocomplete="off">
                  <ul id="dataList-origin" class="dropdown-content-updateProduct">
                    <th:block th:each="origin: ${originList}">
                      <li th:text="${origin.nameOrigin}" th:value="${origin.id}"
                          onclick="selectAttribute(this, 'myInput-origin','origin')"></li>
                    </th:block>
                  </ul>
                  <div class="btn-add-quickly"
                       onclick="openQuickAddForm('Thêm mới xuất xứ', 'Mã xuất xứ', 'Tên xuất xứ', 'Nhập mã xuất xứ', 'Nhập tên xuất xứ', 'origin')">
                    <span class="material-symbols-outlined">add</span>
                  </div>
                </div>
                <p style="display: none; color: red; margin-bottom: 0px" id="errorText-origin">* Vui lòng chọn xuất xứ</p>
              </div>
            </div>
            <div class="form-group-updateProduct">
              <div class="form-control-updateProduct">
                <label for="myInput-nameProduct">Loại đế</label>
                <div style="display: flex">
                  <input th:value="${product.get().sole.nameSole}" type="text" id="myInput-sole"
                         onfocus="showDropdown(event)" th:data-sole-id="${product.get().sole.id}"
                         onkeyup="filterFunction(event)" autocomplete="off">
                  <ul id="dataList-sole" class="dropdown-content-updateProduct">
                    <th:block th:each="sole: ${soleList}">
                      <li th:text="${sole.nameSole}" th:value="${sole.id}"
                          onclick="selectAttribute(this, 'myInput-sole', 'sole')"></li>
                    </th:block>
                  </ul>
                  <div class="btn-add-quickly"
                       onclick="openQuickAddForm('Thêm mới đế giày', 'Mã đế giày', 'Tên đế giày', 'Nhập mã đế giày', 'Nhập tên đế giày', 'sole')">
                    <span class="material-symbols-outlined">add</span>
                  </div>
                </div>
                <p style="display: none; color: red; margin-bottom: 0px" id="errorText-sole">* Vui lòng chọn loại đế</p>
              </div>
            </div>
            <div class="form-group-updateProduct">
              <div class="form-control-updateProduct description-updateProduct">
                <label>Mô tả</label>
                <textarea th:text="${product.get().describe}" rows="4" name="describe"></textarea>
              </div>
            </div>
            <div class="upload-section-updateProduct"
                 onclick="document.getElementById('file-input-updateProduct').click()">
              <div class="upload-container-updateProduct">
                <div class="upload-item-updateProduct">
                  <i class="fas fa-cloud-upload-alt"></i>
                  <p>Nhấp để chọn ảnh</p>
                  <input type="file" id="file-input-updateProduct" name="imageFiles" accept="image/*" multiple
                         style="display: none;"
                         onchange="previewImages(event)">
                </div>
              </div>
              <div id="image-preview-updateProduct" class="image-preview-updateProduct">
                <th:block th:each="image : ${listImage}">
                    <img th:src="'https://res.cloudinary.com/dfy4umpja/image/upload/v1728725582/' + ${image}"
                         alt="Ảnh sản phẩm" />
                </th:block>
              </div>
            </div>
            <p style="display: none; color: red; margin-bottom: 0px" id="errorText-image">* Vui lòng chọn ít nhất 1 ảnh</p>
          </div>
          <div class="buttons-updateProduct">
            <button data-bs-toggle="modal" data-bs-target="#confirm-update-bill-modal" type="button"
                    id="update-btn-updateProduct" class="update-btn-updateProduct" >Sửa sản phẩm
            </button>
            <button type="button" class="cancel-btn-updateProduct" onclick="resetForm()" >Reset</button>
          </div>
        </div>
      </form>
    </div>
    <!-- Form Thêm Thuộc Tính -->
    <div id="quickAddForm" class="quick-add-form" style="display:none;">
      <div class="quick-add-content">
        <h3 id="formTitle">Thêm thuộc tính</h3>
        <label id="label1">Mã</label>
        <input type="text" id="input1" placeholder="Nhập mã"/>
        <label id="label2">Tên</label>
        <input type="text" id="input2" placeholder="Nhập tên"/>
        <button onclick="submitQuickAdd()">Thêm</button>
        <button onclick="closeQuickAddForm()">Đóng</button>
      </div>
    </div>
    <div class="modal fade" id="confirm-update-bill-modal" tabindex="-1"
         aria-labelledby="confirmUpdateBillModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="confirmUpdateBillModalLabel">
              Xác nhận sửa sản phẩm
            </h1>
          </div>
          <div class="modal-body">
            Bạn muốn sửa sản phẩm ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            <button onclick="updateProduct()" type="submit" class="btn btn-success">Sửa</button>
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" id="toastMessage" th:value="${message}">
    <input type="hidden" id="toastCheck" th:value="${check}">
  </article>
  <script src="/js/product/validateUpdate.js"></script>
  <script src="/js/product/update.js"></script>
</div>
</body>

</html>
