<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Home/home_manege}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/Chart/chart.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>Thống kê</title>
</head>

<body>

<main class="container">
    <div layout:fragment="content">
        <h2 class="text-center custom-heading">THỐNG KÊ</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="rectangle">
                    <h6>Doanh số hôm nay</h6>
                    <p class="data-from-be">
                        <span th:text="${billOfTheDay} + ' Đơn hàng /'"></span>
                        <span th:text="${totalPriceToday} + ' VND'"></span>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rectangle">
                    <h6>Doanh số tháng này</h6>
                    <p class="data-from-be">
                        <span th:text="${monthlyBill} + ' Đơn hàng /'"></span>
                        <span th:text="${totalMonthlyBill} + ' VND'"></span>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rectangle">
                    <h6>Hàng bán được tháng này</h6>
                    <p class="data-from-be">
                        <span th:text="${totalMonthlyInvoiceProducts} + ' Sản phẩm'"></span>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="rectangle">
                    <h6 id="serviceFeeTitle">Phí dịch vụ</h6>
                    <p class="data-from-be">
                        <span id="serviceFeeDisplay"></span>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rectangle">
                    <h6 id="exchangeFeeTitle">Phí đổi hàng</h6>
                    <p class="data-from-be">
                        <span id="exchangeFeeDisplay"></span>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rectangle">
                    <h6 id="returnFeeTitle">Phí trả hàng</h6>
                    <p class="data-from-be">
                        <span id="returnFeeDisplay"></span>
                    </p>
                </div>
            </div>
        </div>

        <div class="filter-section">
            <form id="timeFilterForm" class="row g-3 align-items-end">
                <div class="col-md-4">
                    <label for="startDate" class="form-label">Từ ngày:</label>
                    <input type="date" id="startDate" name="startDate" max=""  class="form-control" required>
                </div>
                <div class="col-md-4">
                    <label for="endDate" class="form-label">Đến ngày:</label>
                    <input type="date" id="endDate" name="endDate" max=""  class="form-control" required>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary w-100">Xem Thống Kê</button>
                </div>
            </form>
            <div class="button-group" role="group" aria-label="Thời gian lọc">
                <button type="button" class="custom-btn btn btn-primary" onclick="filterData('today')">Hôm nay</button>
                <button type="button" class="custom-btn btn btn-primary" onclick="filterData('last7days')">7 Ngày
                </button>
                <button type="button" class="custom-btn btn btn-primary" onclick="filterData('month')">Tháng</button>
                <button type="button" class="custom-btn btn btn-primary" onclick="filterData('year')">Năm</button>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div id="chart_div"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7 product-table" style="height: 566px;">
                <h4 id="topProductTitle" class="text-center">Top sản phẩm bán chạy</h4>
                <div class="table-responsive" id="productTableContainer">
                    <table class="table-chart">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá bán</th>
                            <th>Tổng số lượng</th>
                        </tr>
                        </thead>
                        <tbody id="productTableBody">
                        </tbody>
                    </table>
                </div>



<!--                <div>-->
<!--                    <ul class="pagination justify-content-center">-->
<!--                        &lt;!&ndash; Nút Previous &ndash;&gt;-->
<!--                        <li th:class="${productPage.hasPrevious() ? 'page-item' : 'page-item'}">-->
<!--                            <a th:href="@{/chart/form(page=${productPage.hasPrevious() ? productPage.number - 1 : productPage.totalPages - 1})}" class="page-link">Trước</a>-->
<!--                        </li>-->

<!--                        &lt;!&ndash; Hiển thị các số trang &ndash;&gt;-->
<!--                        <li th:each="i : ${#numbers.sequence(0, productPage.totalPages - 1)}"-->
<!--                            th:class="${productPage.number == i ? 'page-item active' : 'page-item'}">-->
<!--                            <a th:href="@{/chart/form(page=${i})}" class="page-link" th:text="${i + 1}"></a>-->
<!--                        </li>-->

<!--                        &lt;!&ndash; Nút Next &ndash;&gt;-->
<!--                        <li th:class="${productPage.hasNext() ? 'page-item' : 'page-item'}">-->
<!--                            <a th:href="@{/chart/form(page=${productPage.hasNext() ? productPage.number + 1 : 0})}" class="page-link">Sau</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->

            </div>
            <div class="col-md-5 pieChart" style="height: 566px">
<!--                <div class="filter-section-pieChart">-->
<!--                    <div class="button-group-pieChart" role="group" aria-label="Thời gian lọc">-->
<!--                        <button type="button" class="custom-btn btn btn-primary" onclick="filterDataPie('today-pieChart')">Hôm nay</button>-->
<!--                        <button type="button" class="custom-btn btn btn-primary" onclick="filterDataPie('last7days-pieChart')">7 Ngày-->
<!--                        </button>-->
<!--                        <button type="button" class="custom-btn btn btn-primary" onclick="filterDataPie('month-pieChart')">Tháng</button>-->
<!--                        <button type="button" class="custom-btn btn btn-primary" onclick="filterDataPie('year-pieChart')">Năm</button>-->
<!--                    </div>-->
<!--                </div>-->
                <div id="piechart" style="width: 100%; height: 500px;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 product-table" style="height: 566px;">
                <h4 id="topProductExchangeTitle" class="text-center">Top sản phẩm đã đổi</h4>
                <div class="table-responsive" id="productExchangeTableContainer">
                    <table class="table-chart">
                        <thead >
                        <tr>
                            <th style="width: 55px">STT</th>
                            <th>Ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá bán</th>
                            <th>Số lượng</th>
                        </tr>
                        </thead>
                        <tbody id="productExchangeTableBody">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6 product-table" style="height: 566px;">
                <h4 id="topProductReturnTitle" class="text-center">Top sản phẩm đã trả</h4>
                <div class="table-responsive" id="productReturnTableContainer">
                    <table class="table-chart">
                        <thead>
                        <tr>
                            <th style="width: 55px">STT</th>
                            <th>Ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá bán</th>
                            <th>Số lượng</th>
                        </tr>
                        </thead>
                        <tbody id="productReturnTableBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script th:src="@{/js/chart/chart.js}"></script>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
