<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quên mật khẩu</title>

    <link rel="stylesheet" href="/css/client/loginClient.css" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

</head>
<body>
<div class="wrapper">
    <div class="form-box login">
        <h2>Quên mật khẩu</h2>
        <form action="/forgotPassword/request" method="post">
            <div class="error-message" >
            </div>
            <div class="input-box">
              <span class="icon">
                <ion-icon name="mail"></ion-icon>
              </span>
                <input type="text" name="username" placeholder="Email"/>
                <span style="color: red" th:text="${mess}"></span>
            </div>
            <br>
            <div th:if="${check == true}">
                <button class="btn-login" onclick="openEmailTab(event)">Trang email</button>
                <script>
                    function openEmailTab(event) {
                        event.preventDefault(); // Ngăn sự kiện mặc định của form
                        window.open("https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox", "_blank");
                    }
                </script>
            </div>
            <button th:if="${check == false}" type="submit" class="btn-login">Gửi yêu cầu</button>
            <div class="login-register">
                <p>Bạn chưa có tài khoản!
                    <a href="/onepoly/register" class="login-link">Đăng ký</a>
                </p>
            </div>
        </form>
    </div>
</div>

</div>
<script src="/js/Security/login.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>