<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/client/register.css" />
  <title>Đăng Ký</title>
</head>
<body>
<header>

</header>

<div class="wrapper">
  <div class="form-box register">
    <h2>Đăng ký</h2>
    <div th:if="${errorMessage}" class="error-message">
      <p th:text="${errorMessage}"></p>
    </div>
    <div th:if="${successMessage}" class="success-message">
      <p th:text="${successMessage}"></p>
    </div>

    <form th:action="@{/onepoly/register}" method="post" th:object="${registerRequest}">

      <div class="input-box">
        <span class="icon"><ion-icon name="person-circle"></ion-icon></span>
        <input type="text" th:field="*{acount}" placeholder="Tên đăng nhập"/>
        <p th:if="${#fields.hasErrors('acount')}" th:errors="*{acount}" class="error-message"></p>
      </div>

      <div class="input-box">
        <span class="icon"><ion-icon name="mail"></ion-icon></span>
        <input type="text" th:field="*{email}" placeholder="Email"/>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message"></p>
      </div>

      <div class="input-box">
        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
        <input type="password" th:field="*{password}" placeholder="Mật khẩu"/>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message"></p>
      </div>

      <div class="input-box">
        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
        <input type="password" th:field="*{confirmPassword}" placeholder="Xác nhận mật khẩu"/>
        <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="error-message"></p>
      </div>

      <button type="submit" class="btn-register">Đăng ký</button>
      <div class="login-register">
        <p>Bạn đã có tài khoản
          <a href="/onepoly/login" class="login-link">Đăng Nhập</a>
        </p>
      </div>
    </form>
  </div>
</div>

<script src="/js/Security/login.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
