<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Home/home_manege}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Product Management Page">
    <meta name="keywords" content="ecommerce, product management, online store">
    <title>Quản lý đế giày</title>
</head>
<body class="body-attribute">
<div layout:fragment="content">
    <article class=" bd-gutter mt-5 my-md-4 bd-layout">
        <h1 class="h1-attribute">Quản lý đế giày</h1>
        <div class="combobox-container">
            <div class="combobox-header" onclick="toggleDiv()">
                <span>Thêm đế giày</span>
                <span class="arrow" id="arrow">&#9660;</span> <!-- Mũi tên -->
            </div>
            <div id="collapsibleDiv" class="combobox-content">
                <form id="createAttribute" th:object="${soleAdd}" method="POST" >
                    <div class="attribute-search-section search-section ">
                        <div class="attribute-search-bar search-bar">
                            <input id="codeSoleInput" th:field="*{codeSole}" type="text" placeholder="Mã đế giày" required/>
                            <input id="nameSoleInput" th:field="*{nameSole}" type="text" placeholder="Tên đế giày" required/>
                            <button type="button" data-bs-toggle="modal" data-bs-target="#confirm-create-sole-modal" class="attribute-btn-add btn-add">Thêm đế giày</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>

        <div style="text-align: right;">
            <button type="submit" class="attribute-btn-listDelete">Danh sách đã xóa</button>
            <button type="submit" class="attribute-btn-listActive" style="display: none;">Danh sách hoạt động</button>
        </div>
        <br>
        <table id="soleTable" class="attribute-table">
            <thead>
            <tr>
                <th>Mã đế giày</th>
                <th>Tên đế giày</th>
                <th>Ngày tạo</th>
                <th>Ngày sửa</th>
                <th>Trạng thái</th>
                <th>Hành động</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="modal fade" id="confirm-create-bill-modal" tabindex="-1"
             aria-labelledby="confirmCreateBillModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="confirmCreateBillModalLabel">
                            Xác nhận xóa đế giày
                        </h1>
                    </div>
                    <div class="modal-body">
                        Bạn muốn xóa đế giày ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button onclick="deleteByID(this)" type="submit" class="btn btn-success" data-bs-dismiss="modal" aria-label="Close">Xóa</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirm-create-sole-modal" tabindex="-1"
             aria-labelledby="confirmCreateSoleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="confirmCreateSoleModalLabel">
                            Xác nhận thêm đế giày
                        </h1>
                    </div>
                    <div class="modal-body">
                        Bạn muốn thêm đế giày ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button onclick="add()" type="submit" class="btn btn-success" data-bs-dismiss="modal" aria-label="Close">Thêm</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirm-restore-sole-modal" tabindex="-1"
             aria-labelledby="confirmRestoreSoleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="confirmRestoreSoleModalLabel">
                            Xác nhận khôi phục đế giày
                        </h1>
                    </div>
                    <div class="modal-body">
                        Bạn muốn khôi phục đế giày ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button onclick="add()" type="submit" class="btn btn-success" data-bs-dismiss="modal"
                                aria-label="Close">Khôi phục
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirm-save-modal" tabindex="-1" aria-labelledby="confirmSaveModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="confirmSaveModalLabel">Xác nhận lưu thay đổi</h1>
                    </div>
                    <div class="modal-body">
                        Bạn có chắc chắn muốn lưu thay đổi này?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-success" onclick="confirmSave()">Đồng ý</button>
                    </div>
                </div>
            </div>
        </div>

    </article>
    <script th:src="@{/js/attribute/attribute.js}" type="text/javascript"></script>
    <script th:src="@{/ajax/attribute/soleAjax.js}" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@zxing/library@0.18.1/umd/index.js"></script>

</div>

</body>
</html>
