<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Home/home_manege}" xmlns:form="http://www.thymeleaf.org">

<head>
    <title>Voucher</title>
</head>
<body>
<div layout:fragment="content">
    <div class="bd-gutter mt-5 my-md-4 bd-layout">
        <div class="mb-3 text-center p-3 text-dark fs-3" style="background-color: #cececd" th:text="${title}"></div>
        <hr>
        <form th:action="@{/voucher/update}" th:object="${voucher}" method="post" id="formUpdateVoucherRoot"
              style="border: 1px solid #bdb5b5;padding: 50px">
            <input type="hidden" id="formUpdateVoucher" th:value="${voucher.codeVoucher}">

            <input type="hidden" th:field="*{id}">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="codeVoucher">Mã giảm giá</label>
                    <input type="text" id="codeVoucher" th:field="*{codeVoucher}" class="form-control"/>
                    <div class="text-danger" th:errors="*{codeVoucher}"></div>
                    <span class="text-danger" id="codeVoucherError"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="nameVoucher">Tên giảm giá</label>
                    <input type="text" id="nameVoucher" th:field="*{nameVoucher}" class="form-control"/>
                    <div class="text-danger" th:errors="*{nameVoucher}"></div>
                    <span class="text-danger" id="nameVoucherError"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="discountType">Loại giảm giá</label>
                    <select id="discountType" th:field="*{discountType}" class="form-select">
                        <option value="1" th:selected="${voucher.discountType == 1}">%</option>
                        <option value="2" th:selected="${voucher.discountType == 2}">Tiền mặt</option>
                    </select>
                    <div class="text-danger" th:errors="*{discountType}"></div>
                    <span class="text-danger" id="discountTypeError"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="value">Giá trị</label>
                    <div class="input-group">
                        <input type="text" id="value" th:field="*{priceReduced}" class="form-control" min="0"/>
                        <span class="input-group-text" id="discountTextDola" th:style="${voucher.discountType == 1} ? 'display: block;' : 'display: none;'">%</span>
                        <span class="input-group-text" id="discountTextCash" th:style="${voucher.discountType == 2} ? 'display: block;' : 'display: none;'">₫</span>
                    </div>
                    <div class="text-danger" th:errors="*{priceReduced}"></div>
                    <span class="text-danger" id="valueError"></span>
                    <span class="text-danger" id="valueError2"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="applyValue">Giá trị áp dụng</label>
                    <div class="input-group">
                        <input type="text" id="applyValue" th:field="*{pricesApply}" class="form-control" min="0"/>
                        <span class="input-group-text">₫</span>
                    </div>
                    <span class="text-danger" id="applyValueError"></span>
                    <span class="text-danger" id="applyValueError2"></span>
                    <div class="text-danger" th:errors="*{pricesApply}"></div>
                </div>

                <div class="col-md-6 mb-3" id="boxOfMaxiumDiscount" th:style="${voucher.discountType == 2} ? 'display: none;' : 'display: block;'">
                    <label for="maxDiscount">Giảm tối đa</label>
                    <div class="input-group">
                        <input type="text" id="maxDiscount" th:field="*{pricesMax}" class="form-control" min="0"/>
                        <span class="input-group-text">₫</span>
                    </div>
                    <div class="text-danger" th:errors="*{pricesMax}"></div>
                    <span class="text-danger" id="maxDiscountError"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="note">Ghi chú</label>
                    <textarea id="note" th:field="*{describe}" class="form-control mt-1"></textarea>
                    <div class="text-danger" th:errors="*{describe}"></div>
                    <span class="text-danger" id="noteError"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="startDate">Ngày bắt đầu</label>
                    <input type="date" id="startDate" th:field="*{startDate}" class="form-control mt-1"/>
                    <div class="text-danger" th:errors="*{startDate}"></div>
                    <span class="text-danger" id="startDateError"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="endDate">Ngày kết thúc</label>
                    <input type="date" id="endDate" th:field="*{endDate}" class="form-control mt-1"/>
                    <div class="text-danger" th:errors="*{endDate}"></div>
                    <span class="text-danger" id="endDateError"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="quantity">Số lượng</label>
                    <input type="text" id="quantity" th:field="*{quantity}" class="form-control mt-1"/>
                    <div class="text-danger" th:errors="*{quantity}"></div>
                    <span class="text-danger" id="quantityError"></span>
                </div>

                <div class="col-md-12  mb-3">
                    <label>Trạng thái</label>
                    <div class="d-flex">
                        <div class="form-check">
                            <input class="form-check-input" value="1" type="radio" th:field="*{status}"
                                   id="flexRadioDefault1"  th:checked="${voucher.status == 1}">
                            <label class="form-check-label" for="flexRadioDefault1">Hoạt động</label>
                        </div>
                        <div class="form-check" style="margin-left: 70px">
                            <input class="form-check-input" value="2" type="radio" th:field="*{status}"
                                   id="flexRadioDefault2" th:checked="${voucher.status == 2}">
                            <label class="form-check-label" for="flexRadioDefault2">Không hoạt động</label>
                        </div>

                    </div>
                    <div class="text-danger" th:errors="*{status}"></div>
                </div>

                <div class="btn-group d-flex">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-warning mt-3 w-50" id="btnOpenModalConfirmAddVoucher" data-bs-toggle="modal" data-bs-target="#updateModal">
                        <i class="bi bi-plus-lg"></i> Sửa
                    </button>

                    <!-- Modal -->
                    <div class="modal fade"
                         id="updateModal"
                         tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="updateModalLabel">Xác nhận</h1>
                                </div>
                                <div class="modal-body">
                                    Bạn muốn sửa dữ liệu như này sao?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Quay lại</button>
                                    <button type="submit" class="btn btn-primary">Vâng</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a class="btn btn-primary mt-3 w-50" th:href="@{/voucher/list}">
                        <i class="bi bi-house"></i> Quay về trang quản lý
                    </a>
                </div>
            </div>
        </form>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script th:src="@{/js/voucher/home.js}" type="text/javascript"></script>
        <script>
            document.getElementById('formUpdateVoucherRoot').addEventListener('submit', function(event) {
                removeThousandSeparator('value');
                removeThousandSeparator('applyValue');
                removeThousandSeparator('maxDiscount');
            });
        </script>
    </div>
</div>
</body>
</html>
