/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: #ffffff00;
}

.sidebar-custom-manage {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 85px;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    background: #11164b;
    padding: 25px 20px;
    transition: all 0.4s ease;
    z-index: 10000;
}

.sidebar-custom-manage:hover {
    width: 350px;
}

.sidebar-custom-manage .sidebar-custom-manage-header {
    display: flex;
    align-items: center;
}

.sidebar-custom-manage .sidebar-custom-manage-header img {
    width: 52px;
    border-radius: 50%;
}

.sidebar-custom-manage .sidebar-custom-manage-header h2 {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
    margin-left: 23px;
}

.sidebar-custom-manage-links h4 {
    color: #ffffff;
    font-weight: 500;
    white-space: nowrap;
    margin: 10px 0;
    position: relative;
    font-size: 1rem;

}

.sidebar-custom-manage-links h4 span {
    opacity: 0;
    font-size: 1rem;

}

.sidebar-custom-manage:hover .sidebar-custom-manage-links h4 span {
    opacity: 1;
    font-size: 1rem;

}

.sidebar-custom-manage-links .menu-separator {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    transform: scaleX(1);
    transform: translateY(-50%);
    background: #ffffff;
    transform-origin: right;
    transition-delay: 0.2s;
}

.sidebar-custom-manage:hover .sidebar-custom-manage-links .menu-separator {
    transition-delay: 0s;
    transform: scaleX(0);
}

.sidebar-custom-manage-links {
    list-style: none;
    margin-top: 20px;
    height: 80%;
    overflow-y: auto;
    scrollbar-width: none;
}

.sidebar-custom-manage-links::-webkit-scrollbar {
    display: none;
}

.sidebar-custom-manage-links li a {
    display: flex;
    align-items: center;
    gap: 0 20px;
    color: #ffffff;
    font-weight: 500;
    white-space: nowrap;
    padding: 10px 10px;
    text-decoration: none;
    transition: 0.2s ease;
    font-size: 1rem;
}

.sidebar-custom-manage-links li a:hover {
    color: #000000;
    background: #ffffff;
    border-radius: 4px;
}

.user-account {
    margin-top: auto;
    padding: 12px 10px;
    margin-left: -10px;
}

.user-profile {
    display: flex;
    align-items: center;
    color: #161a2d;
}

.user-profile img {
    width: 42px;
    height: 42px; /* Đảm bảo ảnh luôn có tỷ lệ vuông */
    object-fit: cover; /* Đảm bảo nội dung ảnh vừa khít mà không bị méo */
    border-radius: 50%;
    border: 2px solid #fff;
}


.user-profile h3 {
    font-size: 1rem;
    font-weight: 600;
}

.user-profile span {
    font-size: 0.775rem;
    font-weight: 600;
}

.user-detail {
    margin-left: 23px;
    white-space: nowrap;
}

.sidebar-custom-manage:hover .user-account {
    background: #fff;
    border-radius: 4px;
}

.submenu {
    max-height: 0; /* Bắt đầu với chiều cao 0 */
    overflow: hidden;
    transition: max-height 0.5s ease-out; /* Thời gian chuyển động 0.3s */
}

.submenu.open {
    max-height: 300px; /* Chiều cao tối đa khi mở, có thể điều chỉnh */
}
