<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Home/home_manege}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shop Giày Onepoly</title>


</head>

<body>
<main>
    <div layout:fragment="content">
        <article class="position-relative bd-gutter mt-5 my-md-4 bd-layout d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="position-absolute top-0 start-0">
                <a href="/staff/bill/home" class="btn ">
                    <i class="bi bi-arrow-return-left"></i>
                    Trở lại trang bán hàng
                </a>
            </div>
            <div class="text-center">
                <span>Tạo hóa đơn thất bại!</span>
                <br>
                <i class="bi bi-cart-x" style="font-size: 100px;"></i>
                <br>
            </div>
        </article>
    </div>
</main>
</body>

</html>