<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="listReturnBill">
    <div class="card mb-2">
        <div class="card-body">

            <div class="d-flex justify-content-between">
                <ul class="nav nav-underline">
                    <li class="nav-item">
                        <button class="nav-link text-dark nav-link-custom active"
                                id="return-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#return-tab-pane"
                                type="button"
                                role="tab"
                                aria-controls="return-tab-pane"
                                aria-selected="true"
                                onclick="setActiveReturnAndExchangeBill(this)"> Danh sách sản phẩm muốn trả</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link text-dark nav-link-custom"
                                id="exchange-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#exchange-tab-pane"
                                type="button"
                                role="tab"
                                aria-controls="exchange-tab-pane"
                                aria-selected="false"
                                onclick="setActiveReturnAndExchangeBill(this)">Danh sách sản phẩm muốn đổi</button>
                    </li>
                </ul>
                <div>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#conditionQuantityInStockModal">
                        Điều kiện và chính sách cửa hàng
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="conditionQuantityInStockModal" tabindex="-1" aria-labelledby="conditionQuantityInStockModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
                            <div class="modal-content ">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="conditionQuantityInStockModalLabel">Điều kiện và chính sách cửa hàng</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h1 class="d-block text-center">Điều kiện hoàn sản phẩm vào kho để bán tiếp</h1>

                                    1- Sản phẩm phải còn nguyên vẹn (ít nhất 97%).
                                    <br>
                                    2- Sản phẩm phải còn tag kể từ lúc khách hàng mua.
                                    <br>
                                    3- Trên hộp phải còn tem của cửa hàng dán lên.
                                    <br>
                                    <hr>
                                    <br>
                                    <h1 class="d-block text-center">CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN</h1>
                                    <h6>
                                        1. PHẠM VI VÀ ĐỐI TƯỢNG ÁP DỤNG
                                        <br>
                                        a. Đối tượng áp dụng
                                    </h6>
                                    <p>
                                        -Chính Sách Trả hàng và đổi hàng này áp dụng đối với Người Mua.
                                        <br>
                                        -Khái niệm Người Mua sẽ được dùng để chỉ Người Mua hoặc Người Nhận Hàng trong từng trường hợp.
                                        <br>
                                        -Khái niệm Người Bán sẽ được dùng để chỉ Người Bán hoặc Người Gửi Hàng trong từng trường hợp.
                                        <br>
                                        -One poly bảo lưu quyền sửa đổi Chính sách trả hàng và đổi hàng này vào bất cứ thời điểm nào.
                                    </p>
                                    <h6>
                                        b. Phạm vi áp dụng
                                    </h6>
                                    <p>
                                        -Chính Sách trả hàng và đổi hàng này quy định về quyền và nghĩa vụ của Người Mua được yêu cầu trả hàng, đổi hàng cũng như quyền và nghĩa vụ của One poly, Người Bán, đơn vị vận chuyển và/hoặc các bên có liên quan trong quá trình giải quyết yêu cầu của Người Mua.
                                    </p>
                                    <h6>
                                        2. ĐIỀU KIỆN ÁP DỤNG
                                    </h6>
                                    <p>
                                        -Áp dụng cho tất cả hóa đơn đã Trả tiền và đơn hàng ở trạng thái Hoàn thành.
                                        <br>
                                        -Trong khoảng thời gian 3 ngày, việc Trả hàng và đổi hàng sẽ được áp dụng.
                                        <br>
                                        -Còn lại tất cả hóa đơn mà không đáp ứng đươ điều kiện trên sẽ không được sử dụng dịch vụ này.
                                    </p>
                                    <h6>
                                        3. ĐIỀU KIỆN YÊU CẦU TRẢ HÀNG/ĐỔI HÀNG
                                    </h6>
                                    <P>
                                        -Người Mua đã thanh toán bằng cách phương thức thanh toán hợp lệ nhưng không nhận được Sản Phẩm, hoặc  không nhận được toàn bộ các Sản Phẩm đã đặt, hoặc nhận được Sản Phẩm là hàng giả, hàng nhái.
                                        <br>
                                        -Sản Phẩm bị lỗi hoặc bị hư hại trong quá trình vận chuyển.
                                        <br>
                                        -Sản Phẩm mà Người Mua nhận được khác biệt một cách rõ rệt so với thông tin mà Người Bán cung cấp trong mục mô tả sản phẩm.
                                        <br>
                                        -Người Bán giao sai Sản Phẩm cho Người Mua (ví dụ: sai kích cỡ, sai màu sắc, v.vv...).
                                        <br>
                                        -Người Bán đã tự thỏa thuận và đồng ý cho Người Mua trả hàng (tuy nhiên sẽ cần Người Bán xác nhận lại những thỏa thuận này).
                                        <br>
                                        -Tất cả các yêu cầu trả hàng và đổi hàng phải được thực hiện tại quầy(chưa phát triển chức năng trực tuyến).
                                    </P>
                                    <h6>
                                        4. QUY TRÌNH TRẢ SẢN PHẨM VÀ ĐỔI SẢN PHẨM
                                        <br>
                                        <br>
                                        <div class="text-danger fs-6">
                                            *Phải có hóa đơn khi mua sản phẩm.
                                        </div>
                                        <br>
                                        <div class="text-danger fs-6">
                                            *Trong trường hợp làm mất hóa đơn, cần khai báo 1 vài thông tin cơ bản của hóa đơn để người bán kiểm tra trong hệ thống có hay không.
                                        </div>
                                        <br>
                                    </h6>
                                    <h6>
                                        a. Đối với trả hàng
                                    </h6>
                                    <p>
                                        -Người mua hàng sẽ đem sản phẩm muốn trả đến cửa hàng để nhân viên kiểm tra xem có thể tạo phiếu trả hàng không.
                                        <br>
                                        -Khi áp dụng đủ điều kiện, người mua có trách nhiệm khai báo thông tin sản phẩm muốn trả và nêu lên lý do.
                                        <br>
                                        -Người bán sẽ có trách nhiệm phân tích yêu cầu của người mua xem yêu cầu có hợp lý trong chính sách của cửa hàng không.
                                        <br>
                                        -Nếu đủ điều kiện, thì sẽ tạo phiếu trả sản phẩm.
                                        <br>
                                        -Mỗi lần tạo phiếu, sẽ phải mất phí dịch vụ (tùy theo cửa hàng đề ra trong các trường hợp của hóa đơn).
                                        <br>
                                        -Tạo phiếu gửi lên hệ thống để xác nhận.
                                        <br>
                                        -Nếu đúng thì sẽ trả lại người mua tiền và thu hồi sản phẩm lại.
                                    </p>
                                    <h6>
                                        a. Đối với đổi hàng
                                    </h6>
                                    <p>
                                        -Người mua hàng sẽ đem sản phẩm muốn đổi đến cửa hàng để nhân viên kiểm tra xem có thể tạo phiếu đổi hàng không.
                                        <br>
                                        -Khi áp dụng đủ điều kiện, người mua có trách nhiệm khai báo thông tin sản phẩm muốn đổi và nêu lên lý do.
                                        <br>
                                        -Người bán sẽ có trách nhiệm phân tích yêu cầu của người mua xem yêu cầu có hợp lý trong chính sách của cửa hàng không.
                                        <br>
                                        -Nếu đủ điều kiện, thì sẽ tạo phiếu đổi sản phẩm.
                                        <br>
                                        -Mỗi lần tạo phiếu, sẽ phải mất phí dịch vụ (tùy theo cửa hàng đề ra trong các trường hợp của hóa đơn).
                                        <br>
                                        -Tạo phiếu gửi lên hệ thống để xác nhận.
                                        <br>
                                        -Trong quá trình đổi hàng, nếu mà TỔNG SỐ TIỀN ĐỔI mà lớn hơn TỔNG SỐ TIỀN TRẢ thì phải trả thêm phí thì mới có thể sử dụng dịch vụ đổi hàng.
                                        <br>
                                        -Trong quá trình đổi hàng, nếu mà TỔNG SỐ TIỀN ĐỔI mà nhỏ hơn TỔNG SỐ TIỀN TRẢ thì phải trả lại khách hàng tiền.
                                        <br>
                                        -Nếu đúng thì sẽ trả lại người mua tiền và thu hồi sản phẩm lại.
                                    </p>
                                    <p class="text-danger fs-6">
                                        LƯU Ý: Dưới đây sẽ là trường hợp giả tưởng
                                    </p>
                                    <p>
                                        trong hóa đơn có mã là 'HD***' có các sản phẩm đã mua sau<br>
                                        -sản phẩm A: 3 món, mỗi món 200.000 vnd<br>
                                        -sản phẩm B: 1 món, giá 500.000 vnd<br>
                                        -sản phẩm C: 1 món, giá 500.000 vnd<br>
                                        áp mã giảm giá 150.000 vnd<br>
                                        tiền gốc 1.600.000 vnd<br>
                                        tiền bill là 1.450.000 vnd (đã thanh toán)<br>
                                        giờ khách hàng muốn hoàn lại shop 1 món sản phẩm A thì cần trả lại số tiền<br>
                                        <br>
                                        -bước 1: tính tỉ lệ  giảm giá:<br>
                                        Công thức:<br>
                                        số tiền giảm theo voucher / số tiền gốc(ko tính tiền vouvher) = trung bình mỗi món được giảm số phần trăm<br>
                                        <br>
                                        150.000/1.600.00 = 0,09375 (khoảng 9,375% / 1 món)<br>
                                        <br>
                                        -bước 2: tính lại gái trị thực của mỗi sản phẩm sau khi giảm giá:<br>
                                        +Sản phẩm A(mỗi 1 món): 200.000 x (1-0,09375) = 181,250 vnd<br>
                                        +Sản phẩm B           : 500.000 x (1-0,09375) = 453125 vnd<br>
                                        +Sản phẩm C           : 500.000 x (1-0,09375) = 453125 vnd<br>
                                    <p class="text-danger">
                                        Đối với chỉ trả hàng:
                                    </p>
                                    -cuối cùng: trả lại khách số tiền là 181.000 vnd (Số tiền này sẽ do hệ thống tính toán làm tròn)<br>
                                    <br>
                                    <p class="text-danger">
                                        Đối với đổi hàng:
                                    </p>
                                    -bước 3: chọn sản phẩm muốn được đổi sang:<br>
                                    -sản phẩm D: 200.000 vnd<br>
                                    -sản phẩm E: 500.000 vnd<br>
                                    -sản phẩm F: 500.000 vnd<br>
                                    <br>
                                    giờ khách hàng muốn lấy 'sản phẩm E'
                                    <br>
                                    Bước 4: Hệ thống tính toán sẽ tính toán lại TỔNG TIỀN TRẢ VÀ ĐỔI
                                    <br>
                                    -cuối cùng: <br>
                                    +Trả lại khách số tiền là 0 vnd.<br>
                                    +Khách phải trả thêm là 319.00 vnd.<br>
                                    <br>
                                    (Số tiền này sẽ do hệ thống tính toán làm tròn)<br>
                                    </p>
                                    <p class="text-danger fs-5">
                                        *Trường hợp trên chưa tính thêm phí tạo phiếu, phí này sẽ được bên người bán và người mua cùng nhau quyết định.
                                    </p>
                                    <p class="text-danger fs-5">
                                        *Trong 1 vài trường hợp thì khách hàng sẽ được đổi 1 - 1 và không mất thêm phụ phí gì.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="return-tab-pane" role="tabpanel" aria-labelledby="return-tab" tabindex="0">
                    <div id="noDataReturnBill" style="display:none; text-align:center;">
                        <!-- Ảnh sẽ được hiển thị ở đây nếu không có dữ liệu -->
                    </div>

                    <table id="table-returnBill" class="table mt-2" style="display:none;">
                        <thead>
                        <tr class="text-center">
                            <th scope="col" style="width: 1%">STT</th>
                            <th scope="col" style="width: 15%">Ảnh</th>
                            <th scope="col" style="width: 10%">Sản phẩm</th>
                            <th scope="col" style="width: 8%">Giá trả</th>
                            <th scope="col" style="width: 19%">Tiền bị giảm do có phiếu giảm giá <br> (trên mỗi 1 sản phẩm)</th>
                            <th scope="col" style="width: 8%">Số lượng trả</th>
                            <th scope="col" style="width: 5%">Tổng tiền trả</th>
                            <th scope="col" style="width: 6%">Hành động</th>
                        </tr>
                        </thead>
                        <tbody id="tableReturnBill">
                        <!-- Dữ liệu sẽ được tải ở đây -->
                        </tbody>
                    </table>

                    <div class="pagination-section">
                        <!-- Phân trang 2 -->
                        <div class="pagination-custom d-flex justify-content-center">
                            <ul id="billReturnPageMax-returnBill" class="pagination"></ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="exchange-tab-pane" role="tabpanel" aria-labelledby="exchange-tab" tabindex="0">
                    <div class="d-flex align-items-center">
                        <p class="mb-0 me-2">

                        </p>
                        <div class="d-flex ms-auto" id="btn-group-exchange-product">
                            <button type="button"
                                    class="btn btn-outline-info me-2"
                                    data-bs-target="#product-modal"
                                    data-bs-toggle="modal" onclick="resetHidenProductSale()">
                                <i class="bi bi-basket"></i> Thêm sản phẩm
                            </button>
<!--                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"-->
<!--                                    data-bs-target="#camera-Modal" id="startCamera">-->
<!--                                <i class="bi bi-qr-code-scan"></i> Quét QR sản phẩm-->
<!--                            </button>-->
                        </div>
                    </div>
                    <div id="noDataExchangeBill" style="display:none; text-align:center;">
                        <!-- Ảnh sẽ được hiển thị ở đây nếu không có dữ liệu -->
                    </div>

                    <table id="table-exchangeBill" class="table mt-2" style="display:none;">
                        <thead>
                        <tr class="text-center">
                            <th scope="col" style="width: 1%">STT</th>
                            <th scope="col" style="width: 15%">Ảnh</th>
                            <th scope="col" style="width: 25%">Sản phẩm</th>
                            <th scope="col" style="width: 8%">Giá hiện tại</th>
                            <th scope="col" style="width: 8%">Số lượng đổi</th>
                            <th scope="col" style="width: 5%">Tổng tiền đổi</th>
                            <th scope="col" style="width: 6%">Hành động</th>
                        </tr>
                        </thead>
                        <tbody id="tableExchangeBill">
                        <!-- Dữ liệu sẽ được tải ở đây -->
                        </tbody>
                    </table>

                    <div class="pagination-section">
                        <!-- Phân trang 2 -->
                        <div class="pagination-custom d-flex justify-content-center">
                            <ul id="billExchangePageMax-exchangeBill" class="pagination"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- thông tin cần trả  -->
    <div class="card">
        <div class="card-body">
            <span>Thông tin phiếu</span>
            <div class="row mt-2">
                <div id="form-final-voucher" class="col-6">
                    <div class="mb-3 d-flex justify-content-between">
                        <span>Mã hóa đơn: </span>
                        <span id="code-bill">HD11</span>
                    </div>
                </div>
                <div class="mb-3 d-flex justify-content-between col-6 align-self-end">
                    <span>Khách hàng: </span>
                    <span id="customer-buy-product">Bùi văn thiết</span>
                </div>
                <div class="mb-3 d-flex justify-content-between col-6">
                    <span>Tiền hóa đơn được giảm: </span>
                    <span id="discount-voucher"></span>
                </div>
                <div class="mb-3 d-flex justify-content-between col-6">
                    <span>Phần trăm giảm cho mỗi sản phầm: </span>
                    <span id="divide-equally-product"></span>
                </div>
                <!-- Thẻ card bên trái -->
                <div class="col-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="mb-3 d-flex justify-content-between">
                                <span>Tổng tiền hàng trả lại: </span>
                                <span id="total-return">0 VNĐ</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Tổng tiền trả khách hàng: </span>
                                <span id="total-return-customer">0 VNĐ</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="mb-3 d-flex justify-content-between" >
                                <span>Phí đổi-trả hàng: </span>
                                <span id="span-exchangeAndReturnFee">123</span>
                                <div id="input-exchangeAndReturnFee" class="input-group input-group-sm" style="width: 50%;">
                                    <input type="text"
                                           class="form-control"
                                           oninput="exchangeAndReturnFee(this)"
                                            id="valueExchangeAndReturnFee">
                                    <span class="input-group-text">VNĐ</span>
                                </div>
                            </div>
                            <div class="text-end mb-3" id="error-exchangeAndReturnFee" style="display: none">
                                <span class="text-danger">*Phí dịch vụ tạo phiếu quá lớn!</span>

                            </div>
                            <div  id="form-input-money-discount">
                                <div class="d-flex justify-content-between" >
                                    <span>Trả thêm tiền cho khách: </span>
                                    <span id="span-discountedAmount">123</span>
                                    <div id="input-discountedAmount" class="input-group input-group-sm" style="width: 50%;">
                                        <input type="text"
                                               class="form-control"
                                               oninput="discountedAmount(this)"
                                                id="valueDiscountedAmount">
                                        <span class="input-group-text">VNĐ</span>
                                    </div>
                                </div>
                                <div class="text-end mb-3" id="error-discountedAmount" style="display: none">
                                    <span class="text-danger">*Phí giảm thêm quá lớn!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <!-- Thẻ card bên phải (sát về phải và có khoảng cách với thẻ bên trái) -->
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="mb-3 d-flex justify-content-between">
                                <span>Tổng tiền hàng đổi: </span>
                                <span id="total-exchange">0 VNĐ</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Tổng tiền thu khách hàng: </span>
                                <span id="total-exchange-customer">0 VNĐ</span>
                            </div>
                            <div class="text-end mb-3" id="errorTotalAmount" style="display: none">
                                <span class="text-danger mb-3" >*Tối đa 1 đơn chỉ được dưới 100 tỷ. Đây là giới hạn được áp dụng để đảm bảo tính ổn định và khả năng xử lý hệ thống!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="out-put-bill-return-exchange">

                </div>
                <div id="block-confirm" class="col-6">
                    <!-- Button trigger modal -->
                    <button style="display: none;" id="btnCreateReturnBill" type="button" class="mb-3 btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#createReturnBillModal">
                        Tạo phiếu
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="createReturnBillModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createReturnBillModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="createReturnBillModalLabel">Tạo phiếu trả hàng</h1>
                                </div>
                                <div class="modal-body">
                                    Bạn muốn tạo phiếu trả hàng sao?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Thôi</button>
                                    <button class="btn btn-outline-success" data-bs-dismiss="modal" onclick="createReturnBill()">Tạo</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="btn-pay-exchange" class="col-6 d-flex justify-content-end">

                </div>

                <div class="justify-content-between col-12" id="form_Reason">
                    <span>Lí do: </span>
                    <textarea class="form-control" id="node-return"></textarea>
                    <span class="text-danger" id="errorReturn" style="display: block;">Mời nhập lí do!</span>
                    <script>
                        var noteReturn = document.getElementById('node-return');
                        noteReturn.addEventListener('input', function () {
                            validateSuccessReturnExchange()

                            // if(noteReturn.value.length >0) {
                            //     if(noteReturn.value.length > 500000) {
                            //         document.getElementById('errorReturn').innerText = 'Không được nhập quá 500 nghìn ký tự!';
                            //         document.getElementById('errorReturn').style.display = 'block';
                            //         document.getElementById('btnCreateReturnBill').style.display = 'none';
                            //     } else {
                            //         if(totalExchangeCheck > 20000000) {
                            //             document.getElementById('errorReturn').style.display = 'none';
                            //             document.getElementById('btnCreateReturnBill').style.display = 'none';
                            //         }else {
                            //             document.getElementById('errorReturn').style.display = 'none';
                            //             document.getElementById('btnCreateReturnBill').style.display = 'block';
                            //             console.log(this.value);
                            //         }
                            //     }
                            // }else {
                            //     document.getElementById('errorReturn').innerText = 'Mời nhập lí do!';
                            //     document.getElementById('errorReturn').style.display = 'block';
                            //     document.getElementById('btnCreateReturnBill').style.display = 'none';
                            // }
                        });
                        function setActiveReturnAndExchangeBill(element) {
                            // Xóa lớp active khỏi tất cả các liên kết
                            var links = document.querySelectorAll('.nav-link-custom');
                            links.forEach(function(link) {
                                link.classList.remove('active');
                            });
                            // Thêm lớp active vào liên kết được nhấp vào
                            element.classList.add('active');
                        }

                    </script>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>