<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Home/home_manege}">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Male_Fashion Template">
  <meta name="keywords" content="Male_Fashion, unica, creative, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shop Giày Onepoly</title>
</head>
<body>
<main>
  <div layout:fragment="content">
    <article class=" bd-gutter mt-5 my-md-4 bd-layout">

    </article>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </div>
</main>
</body>
</html>