<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng Nhập</title>

    <link rel="stylesheet" href="/css/client/loginClient.css" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

</head>
<body>
<div class="wrapper">
    <div class="form-box login">
        <h2>Đăng nhập</h2>
        <form th:action="@{/onepoly/login}" method="post">
            <div class="error-message" th:text="${errorMessage}" th:if="${errorMessage != null}"></div>

            <!-- Tài khoản -->
            <div class="input-box">
                <span class="icon">
                    <ion-icon name="person-circle"></ion-icon>
                </span>
                <input type="text" name="username" th:value="${usernameLogin}" placeholder="Tài Khoản"/>
                <p th:if="${usernameError}" class="error-message" th:text="${usernameError}"></p> <!-- Thông báo lỗi cho tài khoản -->
            </div>

            <!-- Mật khẩu -->
            <div class="input-box">
                <span class="icon">
                    <ion-icon name="lock-closed"></ion-icon>
                </span>
                <input type="password" name="password" placeholder="Mật khẩu"/>
                <p th:if="${passwordError}" class="error-message" th:text="${passwordError}"></p> <!-- Thông báo lỗi cho mật khẩu -->
            </div>

            <div class="remember-forgot">
                <a href="/forgotPassword/form">Quên mật khẩu?</a>
            </div>

            <button type="submit" class="btn-login">Đăng nhập</button>
            <div class="login-register">
                <p>Bạn chưa có tài khoản!
                    <a href="/onepoly/register" class="login-link">Đăng ký</a>
                </p>
            </div>
        </form>
    </div>
</div>
</div>

</div>
<script src="/js/Security/login.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>