<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng Nhập</title>
    <link rel="stylesheet" href="/css/Security/login.css" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
</head>
<body>
<section class="home">
    <div class="form_container">
        <div class="form login_form">
            <form th:action="${action}" method="post">
                <h2>Đổi mật khẩu</h2>
                <div class="input_box">
                    <i class="uil uil-lock password"></i>
                    <input type="text"  th:value="${passwordOrder1}" name="passwordOrder1" placeholder="Mật khẩu mới...">
                    <span style="color: red" th:text="${messPassWord1}"></span>
                </div>
                <div class="input_box">
                    <i class="uil uil-lock password"></i>
                    <input type="password"  th:value="${passwordOrder2}" name="passwordOrder2" placeholder="Xác nhận mật khẩu mới...">
                    <span style="color: red" th:text="${messPassWord2}"></span>
                </div>
                <button class="button">Cập nhật</button>
            </form>
        </div>
    </div>
</section>
<!--<script src="/js/Security/login.js"></script>-->
</body>
</html>
